﻿@keyframes shadow-pop-tr {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        -webkit-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }

    100% {
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e;
        -webkit-transform: translateX(-3px) translateY(3px);
        transform: translateX(-5px) translateY(5px);
    }
}

.shadow-pop-tr {
    -webkit-animation: shadow-pop-tr 1s cubic-bezier(0.770, 0.000, 0.175, 3.000) both;
    animation: shadow-pop-tr 1s cubic-bezier(0.770, 0.000, 0.175, 3.000) both;
}



p {
    margin: 0px 0px 0px;
}

.chatGlobal {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    min-width: 400px;
    max-width: 400px;
    height: 100%;
}



.buttonBubble {
    background-color: white;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    margin-left: 35px;
    display: inline-block;
    color: rgba(9, 57, 103,.95);
    max-width: 300px;
    word-break: break-word;
    border-radius: 15px;
    border-color: rgba(9, 57, 103,.95);
    border-style: solid;
    cursor: pointer;
}

.buttonOff {
    background-color: grey !important;
}

.buttonBubbleHover:hover {
    background-color: rgba(9, 57, 103,.95);
    color: white;
}


.messageAera {
background-color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding-bottom: 20px;
border: outset;
overflow-y: scroll;
height:96%;
}

.topBoard {
    background-color: rgba(9, 57, 103,.95);
    color: white;
    text-align: justify;
    font-size: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.topBoard .title {
    font-size: 14px;
    text-align: center;
    padding-bottom: 5px;
    font-weight: bold;
}

.logo{
    text-align: center;
    padding-bottom: 5px;
}

.logo img {
    height: 60px;
}

.bubble {
    background-color: rgba(9, 57, 103,.95);
    padding: 5px 10px 5px 10px;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 13px;
    display: inline-block;
    color: white;
    max-width: 300px;
    word-break: break-word;
}

.botMessage {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    /*margin-right: 100px;*/
}

.userMessage {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: right;
    margin-left:100px;
}

.userMessageAlign{
    text-align: right;
}

.inputTextZone {
    bottom: 0px;
    position: absolute;
    min-width: 400px;
    max-width: 400px;
}

.inputTextZone button {
    background-color: rgba(9, 57, 103,.95);
    color: white;
}

.inputTextZone .mb-3 {
    margin-bottom: unset !important;
}
